# SERVICE NAME
SERVICE_NAME=events

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
###< symfony/framework-bundle ###

# POSTGRESS (USERS DATA)
POSTGRES_DB_HOST=postgres
POSTGRES_DB_PORT=5432
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=password

# S3 bucket ###
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-central-1
AWS_BUCKET=${SERVICE_NAME}
AWS_ENDPOINT=http://localhost:9000

# NGINX
NGINX_PORT=90

###> doctrine/doctrine-bundle ###
DATABASE_URL=postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?serverVersion=16&charset=utf8
###< doctrine/doctrine-bundle ###
